{{define "header"}}<!doctype html>
<html lang="pl">
<head>
  <title>math.party</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper"><header>
    <h1><a href="/">math.party</a></h1>
    <nav>
      <a href="/manage">Panel</a>
    </nav>
  </header>
  {{end}}