{{define "main"}}{{template "header"}}
  <main>
    <div>
        <h1>Question</h1>
<form>
      <ul>
        <li>Odpowiedź</li>
        <li>Odpowiedź</li>
        <li>Odpowiedź</li>
      </ul>
    </form>
  </div>
</main></div><aside>
    <ol>
      <li>Pytanie</li>
      <li>Pytanie</li>
      <li>Pytanie</li>
      <li>Pytanie</li>
      <li>Pytanie</li>
      <li>Pytanie</li>
      <li>Pytanie</li>
      <li>Pytanie</li>
    </ol>
  </aside>
{{template "footer"}}
{{end}}